{% include base_path %}

<!-- begin SEO -->
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}
{% assign seo_url = seo_url | default: site.github.url %}

<!-- Determine home URL for comparison -->
{% assign home_url = base_path | append: "/" %}

<title>
  {% if page.url == home_url %}
    {{ site.title }}
  {% else %}
    {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
  {% endif %}
</title>

{% if page.description or page.excerpt or site.description %}
  {% assign seo_description = page.description | default: page.excerpt | default: site.description %}
  {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
  <meta name="description" content="{{ seo_description }}">
{% endif %}

{% if site.url %}
  {% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url %}
  <link rel="canonical" href="{{ canonical_url }}">
{% endif %}

<!-- Atom/RSS feed -->
<link
  href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"
  type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed"
>

<!-- Twitter Card -->
{% if site.twitter.username %}
  <meta name="twitter:site" content="@{{ site.twitter.username | replace: "@", "" }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ seo_description }}">  
  {% if page.header.image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{% if page.header.image contains "://" %}{{ page.header.image }}{% else %}{{ base_path }}/images/{{ page.header.image }}{% endif %}">
  {% elsif site.og_image %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ base_path }}/images/{{ site.og_image }}">
  {% endif %}
  {% if page.author %}
    {% assign handle = page.author.twitter | default: site.twitter.username %}
    <meta name="twitter:creator" content="@{{ handle | replace: "@", "" }}">
  {% endif %}
{% endif %}

<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale | default: "en" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if seo_description %}
  <meta property="og:description" content="{{ seo_description }}">
{% endif %}
{% if seo_url %}
  <meta property="og:url" content="{{ canonical_url }}">
{% endif %}
{% if page.header.image %}
  <meta property="og:image" content="{% if page.header.image contains "://" %}{{ page.header.image }}{% else %}{{ base_path }}/images/{{ page.header.image }}{% endif %}">
{% elsif site.og_image %}
  <meta property="og:image" content="{{ base_path }}/images/{{ site.og_image }}">
{% endif %}

<!-- end SEO -->
